/* vh kai vw einai monada metrishs toy viewport view height view width */
*{
    padding: 0px;
    margin: 0px;
}


.header {
    border: 1px solid black;
    height: 200px;
}

/* thelo h eikona moy na parei to ypoloipo ypsos apo ayta poy perissevoyn
sto viewport perilambanei kai to address bar */

/* sthn epomenh eik;ona */
.aueb-img > img {
    height: calc(95vh - 200px);
    width: auto;
}

