.contaier{
    width: 90%;
    /* stoxiish sthn mesh */
    margin-left: auto;
    margin-right: auto;
}

.aueb{
    width: 400px;
    height: auto;
}


.header{
    border: 1px solid black;
}

.nav {
    /* to ekana apo block inline */
    display: inline-block;
}

/* apo to nav pare ta li */
.nav li {
    display: inline-block;
    /* to kathe koympi toy menoy eine ena koyti opote bazontas ena eksoteriko margin apomakrinete to ena apo to allo */
    margin-right: 20px;
}

/* to proto apo thn lista */
.nav li:first-child {
    margin-left: 30px;
}

/* ta links mesa sto nav */
.nav a {
    background-color: lightgray;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}

.nav a:hover {
    color: green;
}