*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row {
    width: 800px;
    /* tha to balei sto kentro (giati?) */
    margin: 15px auto;
    border: 1px solid black;
}

.webdev-header {
    /* 20 pano koto kai 0 deksia arister */
    padding: 20px 0;
}

.webdev-text1, .webdev-text2 {
    padding: 5px 10px;
}

.text-bold {
    font-weight: bold;
    background-color: aqua;
}