
:root {
    --color-aueb: #716124;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo > img {
    height: 120px;
    width: auto;
}

.header{
    background-color: var(--color-aueb);
    display: flex;
    /* justify-content: center; */
}

nav{
    width: 700px;
    background-color: antiquewhite;
}

nav > ul {
    list-style: none;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}