body {
    background-color: lightgray;
}

.aueb-header {
    background-color: brown;
    /* color: white; */
}

.cf-header {
    background-color: grey;
    /* color: white; */
}

.aueb-text {
    background-color: blue;
    /* color: white; */
}

/* e;ixa kai stiw treiw periptoseiw to xroma ton grammatvn aspro */
/* prosthesa to parakato san deytero class name ston html */

.fg-light {
    color: white;
}