h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aqua;
}

hr {
    color: blue;
}

#teacher {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 255, 0, 0.5);
}

#contact {
    font-weight: bolder;   
}

.container {
    width: 250px;
    height: 120px; 
    border: 2px solid purple;
    background-color: lightgray;
}